<h1>New mdl_role_assignment</h1>

<% form_for(@mdl_role_assignment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :roleid %><br />
    <%= f.text_field :roleid %>
  </p>
  <p>
    <%= f.label :userid %><br />
    <%= f.text_field :userid %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', mdl_role_assignments_path %>
